/* BUZZ PANELS GLOBAL CSS v0.2 */
/* --------------------------------------- */
/* Styles */
/* --------------------------------------- */
html, body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: auto;
  font-weight: 300;
}

body {
  background: orange;
  background: url("../assets/bg.jpg") no-repeat center center fixed;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: #ff8900;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 0px 10px 10px 10px;
  z-index: -999;
}

.tomboticon {
  position: relative;
  margin: 0 auto;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 200px;
  height: 200px;
}
.tomboticon .robot {
  position: absolute;
  width: 150px;
  height: 150px;
  top: 25px;
  left: 25px;
}

.main_container {
  margin: 0 auto;
  width: 60%;
}

.conversation input {
  padding: 30px 20px;
  font-size: 40px;
  font-weight: 300;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.conversation label {
  font-size: 25px;
}
.conversation.question label {
  float: left;
}
.conversation.question input {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ff8900;
}
.conversation.answer label {
  float: right;
  color: white;
}
.conversation.answer input {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-align: right;
  cursor: default;
}

.content-info {
  display: none;
}
.content-info.speechbubble {
  position: relative;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  background: white;
  padding: 30px;
  font-size: 25px;
  color: #404040;
}
.content-info.speechbubble:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 23px solid transparent;
  border-bottom-color: #ffffff;
  border-top: 0;
  margin-left: -23px;
  margin-top: -23px;
}

/* --------------------------------------- */
/* Intro Slides */
/* --------------------------------------- */
.margin-top-0 {
  margin-top: 0px;
}

.intro-slide {
  z-index: 999;
}
.intro-slide h2 {
  font-family: "Open Sans Condensed", sans-serif;
  color: #ff8900;
  font-weight: 600;
  font-size: 30px;
}
.intro-slide .question {
  font-weight: 600;
  font-size: 30px;
}
.intro-slide .btn {
  font-size: 30px;
  margin-top: -15px;
  margin-bottom: 5px;
}

/* --------------------------------------- */
/* MEDIA QUERIES                           */
/* --------------------------------------- */
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width: 480px) {
  .main_container {
    width: 95%;
  }
}
