/* BUZZ PANELS GLOBAL CSS v0.2 */

@import "compass";
@import "compass/css3";
@import "compass/utilities";


$primary_font: 'Quicksand', sans-serif;

$primary-color: #ff8900;
$secondary-color: #77C0B2;
$dark-color: #404040;
$twitter-color: #1ca2f3;
$green: #c6e17d;
$blue: #abdbf3;



$par-size: 25px;


/* --------------------------------------- */
/* Styles */
/* --------------------------------------- */

html,body {
  font-family: $primary_font;
  padding:0px;
  margin:0px;
  width:100%;
  height:100%;
  overflow:hidden;
}

body{
  //background:orange;
  //background: url("http://www.buzzradar.com/ces2018/kioskapp/assets/cesbot_bg.jpg") no-repeat center center fixed;
  //@include background-size(cover);
  color: $primary-color;
  font-size: $par-size;
}

footer{
   position:absolute;
   bottom:0;
   width:100%;
   height:auto;  
   //background:#6cf;
   padding:0px 10px 10px 10px;
   z-index:-999;
}


.tomboticon {
  position:relative;
  margin:0 auto;
  margin-top:1%;
  margin-bottom:1%;
  //background: green;
  width:0px;
  height:0px;
  //@include transform(scale(0.5));
  //transform-origin: top;


  .robot {
    position:absolute;
    //background:blue;
    width:0px;
    height:0px;
    top:25px;
    left:25px;
  }
}




.main_container {
  
  margin:0 auto;
  width: 70%;
  height:100%;
  //background:red;
}


.control_timer{
  width:auto;
  background:white;
  color:black;
  padding:10px 20px;
  position:absolute;
  font-size:15px;
}


.conversation {
  
  input {
    padding:30px 20px;
    font-size:1.5vw;
    font-weight:300;
    border:1px solid rgba(255, 255, 255, 0.2);
  }

  label {
    font-size:25px;
  }

  &.question {

    label {
      float:left;
    }

    input {
      background-color: rgba(255, 255, 255, 0.1);
      color:white;
    }

  }

  &.answer {

    label {
      float:right;
      //color:white;
    }

    input {
      background-color: rgba(255, 255, 255, 0.1);
      color:white;
      text-align:right;

      -webkit-border-radius: 4px;
         -moz-border-radius: 4px;
              border-radius: 4px;


      -webkit-box-shadow: 0px 0px 4px #4195fc;
         -moz-box-shadow: 0px 0px 4px #4195fc;
              box-shadow: 0px 0px 4px #4195fc; 

    }

  }

}






.content-info {

  @include animation(anim-out 0s forwards);

  &.speechbubble {
    position:relative;
    @include border-corner-radius(top, left, 25px);
    @include border-corner-radius(bottom, left, 25px);
    @include border-corner-radius(bottom, right, 25px);
    background:rgba(255, 255, 255, 1);
    padding:25px;
    color: $dark-color;
  }

  &.speechbubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 23px solid transparent;
    border-bottom-color: #ffffff;
    border-top: 0;
    margin-left: -23px;
    margin-top: -23px;
  }
  
  &.anim-in{
    @include animation(anim-in 0.5s forwards);
  }

  &.anim-out{
    @include animation(anim-out 0.5s forwards);
  }

  &.hide {
    display:none;
  }


  @keyframes anim-in {
    from   { 
      @include transform(translateY(50px));
       opacity:0;
    }
    to { 
       @include transform(translateY(0px));
       opacity:1;
    }
  }

  @keyframes anim-out {
    from   { 
       @include transform(translateY(0px));
       opacity:1;
    }
    to { 
       @include transform(translateY(50px));
       opacity:0;
    }
  }


}


















/* --------------------------------------- */
/*  Slides */
/* --------------------------------------- */

.slide {
  
  z-index:999;

  .title{
    font-family: $primary_font;
    font-weight:600;
    font-size:1.8vw;

    .ask-me{
      position:absolute;
      height:40px;
      top:-40px;
      right:0px;
      font-size:20px;
      padding:5px 20px !important;
      background:$primary-color;
      @include border-corner-radius(top, left, 5px);
      @include border-corner-radius(top, right, 5px);
      color:white;
      text-decoration:none;
    }  

    .ask-me:hover{
      background: #f8ac29;
    }
  }



  p{
    font-size:inherit;
  }

  a {

  }

  .btn {  
    //font-weight:600;
    font-size:20px;
  }





}








/* --------------------------------------- */
/*  Help */
/* --------------------------------------- */


.help {

  font-size:2.2vh;

  .help-list-questions{
    
    li {
      margin-top:10px;
    }

    a {
      color:$dark-color;
    }

  }

  
}







.amcharts-chart-div,.amcharts-legend-div {

  text{
    font-family: $primary_font;  
  }

  a{
    display:none !important;
  }

}






/* --------------------------------------- */
/*  Tweet */
/* --------------------------------------- */


.tweet {

  margin-top:20px;
  
  .tweet__user {

    margin-bottom:5px;
    color: $secondary-color;

    .tw-icon {
      float:right;
      color: $twitter-color;
      margin-top:20px;
    }

    .name {
      font-weight:bold;
      font-size:3vh;
    }

    .date {
      font-size:2.5vh;
      color: $dark-color;
    }

  }

  .tweet__main {

    margin-top:10px;
    font-size:3.2vh;

  }

}






/* --------------------------------------- */
/*  Photo */
/* --------------------------------------- */


.photo {

  margin-top:30px;

  .photo__main {

    font-size:2.5vh;

    .title {
      padding:3px 8px;
      display:inline-block;
      background: $dark-color;
      color:white;
      font-size:2.5vh;

      margin-bottom:10px;
    }

    .date {
      font-size:2.5vh;
      padding:5px 0;
      color: $secondary-color;
    }

  }

}





/* --------------------------------------- */
/*  News */
/* --------------------------------------- */


.news {

  margin-top:20px;

  .source{

    font-size:20px;

    .sentiment{

      width: 35px;
      height: 35px;
      @include border-radius(50%);
      color: #fff;
      line-height: 35px;
      text-align: center;
      background: $dark-color;
      display:inline-block;

      &.positive {
        background-color:green;
      }
      &.negative {
        background-color:red;
      }

    }
    .source{
      font-weight:bold;
    }
    .date {
      padding:5px 0;
      color: $secondary-color;
    }

  }

  .title {
    @include border-radius(15px);
    padding:5px 10px;
    background: #ccc;
    color:$dark-color;
    font-size:3vh;
    font-weight:bold;
    margin:10px 0px;
  }

  .news__main {
    font-size:2.2vh;
  }

}





/* --------------------------------------- */
/*  CES_KEYNOTES */
/* --------------------------------------- */


.keynotes {

  .item {
    margin:50px 0px;

    .when{
      @include border-radius(10px);
      padding:5px 15px;
      color:$dark-color;
      font-weight:bold;
      font-size:3vw;
      text-align:center;
      margin-bottom:20px;

      &.now{
        background-color:$green;        
      }
      &.next{
        background-color:$blue;        
      }
    }

    .generic {
      margin:5px 0px 0px 0px;      
    }

    .keynote{
      @extend .generic;
      font-weight:bold;
      font-size:2vw;
      border-top:1px solid $dark-color;
      padding-top:10px;
    }
    .location{
      @extend .generic;
    }
    .time{
      @extend .generic;
      padding-bottom:10px;
    }

  }

}







/* --------------------------------------- */
/*  STATS */
/* --------------------------------------- */


.stats {

  //margin:2% 0px;

  span {
    text-align:center;
    font-size:30vh;
    font-weight:bold;
    //background-color: $secondary-color;
    color: $secondary-color;
    padding:0 5%;
    @include border-radius(10%);
  }

}








/* --------------------------------------- */
/* MEDIA QUERIES                           */
/* --------------------------------------- */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {

  .main_container {
    
    width: 95%;

  }

}

