/* BUZZ PANELS GLOBAL CSS v0.2 */

@import "compass";
@import "compass/css3";
@import "compass/utilities";


$primary_font: 'Quicksand', sans-serif;

$primary-color: #ff8900;
$secondary-color: #77C0B2;
$dark-color: #404040;
$twitter-color: #1ca2f3;

$par-size: 25px;


/* --------------------------------------- */
/* Styles */
/* --------------------------------------- */

html,body {
  font-family: $primary_font;
  padding:0px;
  margin:0px;
  width:100%;
  height:100%;
  overflow:hidden;
}

body{
  background:orange;
  background: url("../assets/bg.jpg") no-repeat center center fixed;
  @include background-size(cover);
  color: $primary-color;
  font-size: $par-size;
}

footer{
   position:absolute;
   bottom:0;
   width:100%;
   height:auto;  
   //background:#6cf;
   padding:0px 10px 10px 10px;
   z-index:-999;
}


.tomboticon {
  position:relative;
  margin:0 auto;
  margin-top:1%;
  margin-bottom:1%;
  //background: green;
  width:200px;
  height:200px;

  .robot {
    position:absolute;
    //background:blue;
    width:150px;
    height:150px;
    top:25px;
    left:25px;
  }
}




.main_container {
  
  margin:0 auto;
  width: 65%;
  height:100%;
  //background:red;
}



.conversation {
  
  input {
    padding:30px 20px;
    font-size:1.8vw;
    font-weight:300;
    border:1px solid rgba(255, 255, 255, 0.1);
  }

  label {
    font-size:25px;
  }

  &.question {

    label {
      float:left;
    }

    input {
      background-color: rgba(255, 255, 255, 0.1);
      color:$primary-color;
    }

  }

  &.answer {

    label {
      float:right;
      color:white;
    }

    input {
      background-color: rgba(255, 255, 255, 0);
      color:white;
      text-align:right;
      cursor:default;
    }

  }

}






.content-info {

  @include animation(anim-out 0s forwards);

  &.speechbubble {
    position:relative;
    @include border-radius(25px);
    background:rgba(255, 255, 255, 1);
    padding:30px;
    color: $dark-color;
  }

  &.speechbubble:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 23px solid transparent;
    border-bottom-color: #ffffff;
    border-top: 0;
    margin-left: -23px;
    margin-top: -23px;
  }
  
  &.anim-in{
    @include animation(anim-in 0.5s forwards);
  }

  &.anim-out{
    @include animation(anim-out 0.5s forwards);
  }

  &.hide {
    display:none;
  }


  @keyframes anim-in {
    from   { 
      @include transform(translateY(50px));
       opacity:0;
    }
    to { 
       @include transform(translateY(0px));
       opacity:1;
    }
  }

  @keyframes anim-out {
    from   { 
       @include transform(translateY(0px));
       opacity:1;
    }
    to { 
       @include transform(translateY(50px));
       opacity:0;
    }
  }


}


















/* --------------------------------------- */
/*  Slides */
/* --------------------------------------- */

.margin-top-0{
  margin-top:0px;
}

.slide {
  
  z-index:999;

  .title{
    font-family: $primary_font;
    color:$secondary-color;
    font-weight:600;
    font-size:30px;

    .circle {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      color: #fff;
      line-height: 40px;
      text-align: center;
      background: $dark-color;
      display:inline-block;
    }

    .title-copy{
      display:inline-block;
    }


  }

  .question {

    font-weight:600;
    font-size:24px;
    margin-bottom:10px;

  }

  p{
    font-size:inherit;
  }

  a {

  }

  .btn {  
    //font-weight:600;
    font-size:20px;
  }





}






.help-list-questions{
  
  li {
    margin-top:2px;
  }

  a {
    color:$dark-color;
  }

}





.amcharts-chart-div,.amcharts-legend-div {

  text{
    font-family: $primary_font;  
  }

  a{
    display:none !important;
  }

}






/* --------------------------------------- */
/*  Tweet */
/* --------------------------------------- */


.tweet {

  margin-top:50px;
  
  .tweet__user {

    margin-bottom:5px;

    .tw-icon {
      float:right;
      color: $twitter-color;
      margin-top:30px;
    }

    .name {
      font-weight:bold;
      font-size:35px;
    }

    .date {
      font-size:25px;
    }

  }

  .tweet__main {

    margin-top:10px;
    font-size:30px;

  }

}






/* --------------------------------------- */
/*  Photo */
/* --------------------------------------- */


.photo {

  margin-top:50px;

  .photo__main {

    font-size:30px;

    .title {
      padding:3px 8px;
      display:inline-block;
      background: $dark-color;
      color:white;

      span {
        //padding-left: 3%;
      }
    }

  }

}








/* --------------------------------------- */
/* MEDIA QUERIES                           */
/* --------------------------------------- */


/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : 480px) {

  .main_container {
    
    width: 95%;

  }

}

